* {
  --primary-color: #b5d8ff;
  --primary-color-light: #e3f1ff;
  --primary-color-dark: #5c9ce5;
}
.main {
  background-color: var(--primary-color-light);
  display: grid;
  grid-template-columns: 3fr 1fr;
}
