* {
  --primary-color: #b5d8ff;
  --primary-color-light: #e3f1ff;
  --primary-color-dark: #5c9ce5;
}
.sidenav {
  background-color: var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  border: 1px #e3f1ff solid;
  border-radius: 10px;
}
.sidenav-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background: none;
  color: white;
  height: 3rem;
  width: 100%;
}
.sidenav-element:hover {
  background-color: white;
  color: #b5d8ff;
  cursor: pointer;
}
.icons {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}
